<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Every.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Every.Properties.Settings>
            <setting name="isAutoLogin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userId" serializeAs="String">
                <value />
            </setting>
            <setting name="userPw" serializeAs="String">
                <value />
            </setting>
            <setting name="isAlertOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>http://49.50.160.97:8080</value>
            </setting>
            <setting name="isHostServer" serializeAs="String">
                <value>True</value>
            </setting>
        </Every.Properties.Settings>
    </userSettings>
</configuration>